<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        src="https://images.unsplash.com/photo-1505685296765-3a2736de412f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
        alt="Placeholder image"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-6">Learn HTML with 12 simple projects</p>
        <p class="subtitle is-7 has-text-grey">Marcus Smith</p>
      </div>
    </div>
    <hr class="hr" />

    <div class="content is-centered">
      <div class="rating has-text-weight-semibold is-6">
        <span class="score">5.0</span>
        <span class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
      </div>
      <p class="title is-4 has-text-success price">Free</p>
    </div>
  </div>
</div>
