.subtitle {
  margin-bottom: 10px;
}

.rating {
  color: #eb8a2f;
  .score {
    margin-right: 5px;
  }
}

.price {
  margin-top: 10px;
}

.discount {
  color: red;
  text-decoration: line-through;
}
