<nav
  class="bd-navbar navbar has-shadow is-spaced"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/logo.jpg" width="112" height="28" />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/"> Home </a>
      <a class="navbar-item" routerLink="/courses"> Courses </a>
      <div class="field">
        <p class="control has-icons-right">
          <input
            class="input is-medium"
            type="text"
            placeholder="Search courses"
          />
          <span class="icon is-right">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
      <!-- <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> More </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"> About </a>
          <a class="navbar-item"> Jobs </a>
          <a class="navbar-item"> Contact </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Report an issue </a>
        </div>
      </div> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light"> Log in </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<section class="footer hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a routerLink="/">Home</a>
          <a routerLink="/courses">Courses</a>
          <a routerLink="">Categories</a>
        </div>
        <div class="column">
          <a routerLink="">About Us</a>
          <a routerLink="">Contact Us</a>
        </div>
        <div class="column is-narrow">
          <div class="field">
            <div class="control has-icons-left">
              <div class="select">
                <select>
                  <option selected>English</option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr" />
      <h1 class="title">Odemy</h1>
    </div>
  </div>
</section>
