<section class="hero is-primary is-medium has-background">
  <img
    alt="Fill Murray"
    class="hero-background is-transparent"
    src="https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
  />
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome to Odemy</h1>
      <h2 class="subtitle">The Open-Source Academy for courses</h2>

      <div class="columns">
        <div class="column is-6">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input
                class="input is-medium"
                type="text"
                placeholder="Search our courses"
              />
            </div>
            <div class="control is-expanded">
              <a class="button is-success is-medium">
                <i class="fas fa-search"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">Latest courses</h1>
    <p class="subtitle is-6 has-text-dark">
      Check out the latest courses by our instructors
    </p>
    <hr class="hr" />
    <div class="columns is-multiline">
      <div class="column is-3">
        <app-course-card></app-course-card>
      </div>
      <div class="column is-3">
        <app-course-card></app-course-card>
      </div>
      <div class="column is-3">
        <app-course-card></app-course-card>
      </div>
      <div class="column is-3">
        <app-course-card></app-course-card>
      </div>
      <div class="column is-3">
        <app-course-card></app-course-card>
      </div>
      <div class="column is-3">
        <app-course-card></app-course-card>
      </div>
      <div class="column is-3">
        <app-course-card></app-course-card>
      </div>
      <div class="column is-3">
        <app-course-card></app-course-card>
      </div>
      <div class="column is-3">
        <app-course-card></app-course-card>
      </div>
    </div>
  </div>
</section>
